.main_container {
  width: 70%;
  margin: 0 auto;
}

.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.nav_left {
  display: flex;
  align-items: center;
}

.nav_logo {
  width: 40px;
}

.nav_title {
  font-family: 'Lobster', cursive;
  font-size: 32px;
  margin-left: 20px;
  border-left: 1px solid #dbdbdb;
  padding-left: 20px;
}

.nav_center {
  width: 200px;
  padding: 5px 0;
  border: 1px solid #dbdbdb;
  color: #dbdbdb;
  font-size: small;
  text-align: center;
}

.nav_right {
  min-width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_explore {
  width: 40px;
}

.nav_heart {
  width: 40px;
}

.nav_profile {
  width: 40px;
}

.main_content {
  border: 1px solid red;
  padding-top: 20px;
}

.main_article_container {
  border: 1px solid orange;
  width: 600px;
}

.article_head {
  display: flex;
  align-items: center;
  padding: 4px;
}

.article_profile_image {
  display: inline;
  width: 30px;
}

.article_head_nickname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
}

.main_article_img_card {
  width: 600px;
  height: 400px;
}

.article_button_group {
  padding: 4px;
  display: flex;
  justify-content: space-between;
}

.article_people_like {
  padding: 4px;
}

.article_content {
  padding: 4px;
  border-bottom: 1px solid #dbdbdb;
}

.main_right {
  border: 1px solid pink;
  position: absolute;
  right: 290px;
  top: 80px;
  width: 400px;
  height: 600px;
}
