@charset "utf-8";
@import "../../../styles/reset.scss";
@import "../../../styles/common.scss";
@import '../../../styles/variables.scss';
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css";
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

#login{ 
    button, input, optgroup, select, textarea { font-family:inherit; font-size:100%; line-height:inherit; color:inherit; margin:0; padding:0; border-width:0; }
    button, select { text-transform:none; }
    button, [type='button'], [type='reset'], [type='submit'] { -webkit-appearance:button; background-color:transparent; background-image:none; }
    :-moz-focusring { outline:auto; }
    :-moz-ui-invalid { box-shadow:none; }
    a { color:inherit; text-decoration:inherit; }
    b, strong { font-weight:500; }
    input::placeholder, textarea::placeholder { opacity:1; color:#8e8e8e; }
    input:focus, textarea:focus { outline:none; }
    button, [role="button"] { cursor:pointer; }
    :disabled { cursor:default; }
    img, svg, video, canvas, audio, iframe, embed, object { display:block; }
    img, video { max-width:100%; height:auto; }
    [hidden] { display:none; }

    @include flexCenter; width:100%; height:100vh; background-color:#fafafa; line-height:1.5; font-family:'Noto Sans KR', sans-serif; font-size:14px; font-weight:400; color:#262626; 

    .login_wrap{ 
        @include flexSpaceBetween; flex-direction:column; width:350px; height:396px; background:#fff; border:1px solid #dbdbdb; border-radius:4px; padding:30px 0;
        .top{ display:flex; align-items:center; flex-direction:column; }
        .logo{ 
            .txt{ font-family:'Lobster', cursive; font-size:44px; color:#262626; }
        } 
    
        .login_input{ 
            width:268px; margin-top:30px; 
    
            input{ 
                width:100%; background:#fafafa; border:1px solid #dbdbdb; padding:8px 12px; font-size:12px; line-height:1.5;
                &:focus{ outline:none; }
            }
            input + input{ margin-top:8px; }
            
            .btn_area{ display:flex; justify-content:space-between;
                button{ 
                    display:flex; align-items:center; justify-content:center; width:48%; height:30px; margin-top:16px; background:rgb(0, 149, 246); border-radius:4px; color:#fff; font-size:14px; cursor:pointer; 
                    
                    &:disabled{ background:rgba(0, 149, 246, 0.3); cursor:default; }
                }
            }
            
        }
    
        &>a{ color:#00376b; }
    }
}



@media screen and (max-width: 380px) {
    #login{
        .login_wrap{ width:92%; }
        .login_input{ width:88%; }
    }
}