@charset "utf-8";
@import '../../styles/variables.scss';

#mainSj {
    nav{ position:fixed; top:0; width:100%; background:#fff; border-bottom:1px solid #eaeaea; z-index:1;

        .cont{ @include flexSpaceBetween; width:980px; margin:0 auto; padding:20px 0; }
        .logo a{ @include flexCenter; }
        .logo .ico_logo{display:block; width:24px; height:24px;         
            img{ width:100%; height:100%; }
        }

        .nav_btns{ display:flex; height:44px;
            button{ position:relative; width:44px; height:44px; 
                &.on::after{ position:absolute; bottom:0; left:50%; transform:translate(-50%,0); content:''; display:block; width:3px; height:3px; background:red; border-radius:50%; }

                img{ width:100%; padding:8px; }
            }

            .btn_profile_cont{ position:relative;             
                .profile_cont{ position:absolute; right:0; width:200px; height:auto; background:#fff; border-radius:4px; box-shadow:0 0 5px 1px rgba(0,0,0,0.15); 
                    &.off{ display:none; }
                }
                
                .area_click{ position:fixed; width:100%; height:100%; top:0; left:0; z-index:0; }

                .rect{ position:absolute; top:-7px; right:14px; width:14px; height:14px; background:#fff; transform:rotate(45deg); border-radius:4px; box-shadow:0 0 5px 1px rgba(0,0,0,0.15); z-index:0; }

                .profile_cnt{ position:relative; width:100%; height:100%; background:#fff; 
                    ul{ border-bottom:1px solid #dbdbdb; 
                        li a{ display:flex; align-items:center; padding:12px 16px; 
                            span{ margin-left:12px; }
                        }
                    }
                    & > button{ width:100%; padding:12px 16px; text-align:left; border-bottom-left-radius:4px; border-bottom-right-radius:4px; }
                }
            }
        }

        .search_cont{ display:flex; justify-content:center; width:200px; background:#fafafa; border:1px solid #dbdbdb; margin:0 12px; padding:4px 8px; z-index:1;
            .btn_innerSrh{ color:#8e8e8e; 
                span{ margin-left:4px; }
            }

            &.off .btn_innerSrh{ display:block; width:100%; padding:2px 0; }
            &.off .input_cont{ display:none; }

            &.on .btn_innerSrh{ display:none; }
            &.on{ background:#fff; 
                .input_cont{@include flexSpaceBetween; width:100%;
                    i{ flex:0 0 auto; color:#a5a7aa; }
                    .search_input{ flex:1 1 auto; width:88%; padding:0 4px; }
                    .btn_closeSrh{ flex:0 0 auto; padding:2px; }
                }
            }
        }
    }
}

@media screen and (max-width: 980px) {
    #mainSj{
        nav{ padding:0 12px; 
            .cont{ width:100%; }
        }
    }
}

@media screen and (max-width: 480px) {
    #mainSj{
        nav .cont{ padding:12px 0; 
            .logo {
                .ico_logo{ width:20px; height:20px; }
                .txt{ font-size:20px; margin-left:8px; padding-left:8px; }
                .txt::before{ top:4px; height:24px; }
            }
            .search_cont{ display:none; }
            .nav_btns { height:36px;
                button{ width:36px; height:36px; } 
            }
        }
    }
}