@charset "utf-8";
@import "../../../styles/reset.scss";
@import "../../../styles/common.scss";
@import '../../../styles/variables.scss';
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css";
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

#mainSj{ 
    button, input, optgroup, select, textarea { font-family:inherit; font-size:100%; line-height:inherit; color:inherit; margin:0; padding:0; border-width:0; }
    button, select { text-transform:none; }
    button, [type='button'], [type='reset'], [type='submit'] { -webkit-appearance:button; background-color:transparent; background-image:none; }
    :-moz-focusring { outline:auto; }
    :-moz-ui-invalid { box-shadow:none; }
    a { color:inherit; text-decoration:inherit; }
    b, strong { font-weight:500; }
    input::placeholder, textarea::placeholder { opacity:1; color:#8e8e8e; }
    input:focus, textarea:focus { outline:none; }
    button, [role="button"] { cursor:pointer; }
    :disabled { cursor:default; }
    img, svg, video, canvas, audio, iframe, embed, object { display:block; }
    [hidden] { display:none; }

    width:100%; height:auto; background-color:#fafafa; line-height:1.5; font-family:'Noto Sans KR', sans-serif; font-size:14px; font-weight:400; color:#262626;
    .logo .txt{ display:block; position:relative; margin-left:16px; padding-left:16px; font-family:'Lobster', cursive; font-size:28px; color:#262626;
        &::before{ position:absolute; left:0; top:6px; content:''; display:block; width:2px; height:32px; background:#000; }
    }

    main{ display:flex; justify-content:space-between; width:940px; margin:0  auto; padding-top:85px; }
}

@media screen and (max-width: 980px) {
    #mainSj{
        main{ flex-direction:column; justify-content:center; width:100%; }
    }
}

@media screen and (max-width: 480px) {
    #mainSj{
        main{ padding-top:70px; }    
    }
}